@use 'variables' as *
@use 'mixins' as *  

.user
  display: flex
  flex-direction: column
  @include for-screen('tablet')
    grid-area: 1 / 1 / span 1 / span 2
  @include for-screen('small')
    grid-area: 1 / 1 / span 2 / span 1
    flex-direction: column
  .user__info
    display: flex
    gap: 2rem
    align-items: center
    background: $clr-primary-user
    z-index: 1
    @include for-screen('small')
      flex-direction: column
    figure
      min-width: 4rem
      width: clamp(4rem, calc(1rem + 7vw), 5rem)
      margin: 0
    div
      p
        color: $clr-neutral-200  
      h1
        font-size: clamp(1.5rem, calc(1rem + 2vw), 2.5rem)
  .user__nav
    position: relative
    width: 100%
    background: $clr-neutral-700
    font-size: 1.1rem
    padding-top: 1rem
    padding-bottom: 1rem
    ul
      display: flex
      justify-content: space-between
      @include for-screen('small')
        flex-direction: column
        gap: 0.5rem
        padding: 0.5rem 0
    .user__stitch
      position: absolute
      width: 100%
      height: 2rem
      left: 0
      top: -1rem
      background: $clr-neutral-700

.activity
  position: relative
  .activity__tab
    position: absolute
    width: 100%
    height: 78px
    top: $tab-height
    z-index: -1
    display: flex
    justify-content: flex-end
    overflow: hidden
    figure
      margin: -0.5rem 1rem 0 0
    
  .activity__info
    background: $clr-neutral-700
    margin-top: calc($tab-height * -1)
    display: grid
    grid: repeat(2, 1fr) / repeat(2, 1fr)
    @include for-screen('small')
      grid: repeat(3, auto) / repeat(2, 1fr)
    .activity__info--type
      font-size: 1.2rem
      font-weight: 500
    .activity__info--time
      font-size: clamp(2rem, calc(1rem + 3vw), 3.5rem)
      font-weight: 200
      grid-area: 2/1
      @include for-screen('small')
        grid-area: 2/1/span 1/span 2
        margin: 1rem 0
    .activity__info--last-week
      font-size: 1rem
      color: $clr-neutral-400
      grid-area: 2/2
      align-self: end
      @include for-screen('small')
        grid-area: 3/1/span 1/span 2
    .activity__info--ellipsis
      justify-self: end      

  .work
    background: $clr-primary-work
    border-radius: 15px
