@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body {
  background: hsl(226, 43%, 10%);
  color: white;
  font-family: "Rubik", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h1,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
@media screen and (min-width: 30rem) {
  main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 48rem) {
  main {
    grid-template-columns: repeat(4, 1fr);
  }
}

.wrapper {
  padding: 2rem;
  border-radius: 15px;
}

.user {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 30rem) {
  .user {
    grid-area: 1/1/span 1/span 2;
  }
}
@media screen and (min-width: 48rem) {
  .user {
    grid-area: 1/1/span 2/span 1;
    flex-direction: column;
  }
}
.user .user__info {
  display: flex;
  gap: 2rem;
  align-items: center;
  background: #5747EA;
  z-index: 1;
}
@media screen and (min-width: 48rem) {
  .user .user__info {
    flex-direction: column;
  }
}
.user .user__info figure {
  min-width: 4rem;
  width: clamp(4rem, 1rem + 7vw, 5rem);
  margin: 0;
}
.user .user__info div p {
  color: hsl(236, 100%, 87%);
}
.user .user__info div h1 {
  font-size: clamp(1.5rem, 1rem + 2vw, 2.5rem);
}
.user .user__nav {
  position: relative;
  width: 100%;
  background: hsl(235, 46%, 20%);
  font-size: 1.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.user .user__nav ul {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 48rem) {
  .user .user__nav ul {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }
}
.user .user__nav .user__stitch {
  position: absolute;
  width: 100%;
  height: 2rem;
  left: 0;
  top: -1rem;
  background: hsl(235, 46%, 20%);
}/*# sourceMappingURL=style.css.map */